* {
    margin: 0;
    padding: 0;
}

footer {
    border-top: 1px;
    width: 100%;
    height: 59px;
    background-color: #1b394e;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.body-limit {
    margin-bottom: 60px;
}

.redes-sociais {
    text-align: right;
}

.rodape {
    text-align: center;
}